@import "./_variables.scss";

/* overriding react-pro-sidebar styles */
.pro-sidebar.collapsed {
  width: 0px !important;
  min-width: 0px !important;
}

.pro-sidebar > .pro-sidebar-inner {
  background: white !important;
}

.pro-sidebar {
  border-right: 0.5px solid $grey;
  height: 100 !important;
}

.pro-sidebar
  .pro-menu.shaped
  .pro-menu-item
  > .pro-inner-item
  > .pro-icon-wrapper {
  background: white !important;
}
.pro-sidebar .pro-menu > ul > .pro-sub-menu > .pro-inner-list-item {
  background: white !important;
}

/* overriding react-instantsearch default styles */
.ais-Hits-item {
  list-style: none;
}
.ais-SearchBox-input {
  width: 100%;
  height: 2em;
}

.ais-SearchBox-form {
  margin-top: 30px;
  display: flex;
}

.ais-Hits-list {
  display: inline;
  margin-top: 0px;
}

.ais-SearchBox-submit {
  display: none;
}
.ais-SearchBox-reset {
  display: none;
}

.pro-sidebar .pro-menu > ul > .pro-sub-menu > .pro-inner-list-item > div > ul {
  padding-top: 0px !important;
}
.pro-inner-item {
  padding-bottom: 0px !important;
}

ul {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

// overriding bootstrap

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: $gold;
  border-color: $gold;
}
.btn-secondary {
  background-color: $grey;
  border-color: $grey;
  &:hover {
    border-color: $gold;
    background-color: $gold;
  }
}

hr {
  background-color: $grey;
}

.border {
  border-color: $grey !important;
}

.text-muted {
  color: $grey !important;
}
