@import '../../_variables.scss';

.herobgcontainer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;

  .herobgcol1 {
    position: absolute;
    top: 0;
    height: 100%;
    left: -200px;
    width: 400px;
    background: linear-gradient(
      90deg,
      #f3ecdb 0%,
      $gold 30%,
      #fdf4de 30%,
      #eed292 100%
    );
    transform: skew(-20deg, 0);
    // border-bottom-right-radius: 90px;
    z-index: 3;
  }
  .herobgcol2 {
    position: absolute;
    top: 0;
    height: calc(100% - 100px);
    width: 100%;
    background: linear-gradient(90deg, $grey 0%, lighten(white, 5) 100%);
    border-bottom-right-radius: 90px;
    z-index: 1;
  }
}
